.header {
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 3;
    width: 100vw;
}

.header-title {
    position: relative;    
    grid-column: 2 / 3;
    top: 3%;
    right : 42.5%;
}

.logout-button {
    position: absolute;
    top: 6.5%;
    right: 10%;
    grid-column: 3 / 4;
}