.mouse_wrap {
    height: 150px;
    width: 230px;
    place-items: center;
    position: absolute;
    top:  122%;
    left: 99%;
    transform: perspective(410px) rotateX(48deg) rotateY(0deg) skewX(40deg);
}
.mouse {
    height: 180px;
    width: 190px;
    background-color: transparent;
    place-items: center;
    position: relative;
    bottom: 20%;
    transform: perspective(0px) rotateX(0.02deg) rotateY(0.09deg) skewX(-15deg);
}